.btn1 a {
  color: white;
}

.btn1 a:hover {
  color: white;
  text-decoration: none;
}

.btn1 {
	width: 175px;
	background: #ec7171;
	background-image: -webkit-linear-gradient(top, #ec7171, #ec7171);
	background-image: -moz-linear-gradient(top, #ec7171, #ec7171);
	background-image: -ms-linear-gradient(top, #ec7171, #ec7171);
	background-image: -o-linear-gradient(top, #ec7171, #ec7171);
	background-image: linear-gradient(to bottom, #ec7171, #ec7171);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	box-shadow: 2px 2px 0px lightslategrey;
	border: none;
}

.btn1:hover {
  background: #e86d6d;
  background-image: -webkit-linear-gradient(top, #e86d6d, #d65353);
  background-image: -moz-linear-gradient(top, #e86d6d, #d65353);
  background-image: -ms-linear-gradient(top, #e86d6d, #d65353);
  background-image: -o-linear-gradient(top, #e86d6d, #d65353);
  background-image: linear-gradient(to bottom, #e86d6d, #d65353);
  text-decoration: none;
}

.btn2 {
  width: 175px;
  background: #16a9c7;
  background-image: -webkit-linear-gradient(top, #16a9c7, #16a9c7);
  background-image: -moz-linear-gradient(top, #16a9c7, #16a9c7);
  background-image: -ms-linear-gradient(top, #16a9c7, #16a9c7);
  background-image: -o-linear-gradient(top, #16a9c7, #16a9c7);
  background-image: linear-gradient(to bottom, #16a9c7, #16a9c7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 0px lightslategrey;
  border: none;
}

.btn2:hover {
  background: #13a5bf;
  text-decoration: none;
}

.btn3 {
  width: 175px;
  background: #fec63a;
  background-image: -webkit-linear-gradient(top, #fec63a, #f2bc33);
  background-image: -moz-linear-gradient(top, #fec63a, #f2bc33);
  background-image: -ms-linear-gradient(top, #fec63a, #f2bc33);
  background-image: -o-linear-gradient(top, #fec63a, #f2bc33);
  background-image: linear-gradient(to bottom, #fec63a, #f2bc33);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 0px lightslategrey;
  border: none;
}

.btn3:hover {
  background: #fec63a;
  text-decoration: none;
}

.btn4 {
  width: 175px;
  background: #8c2c9f;
  background-image: -webkit-linear-gradient(top, #8c2c9f, #7f2491);
  background-image: -moz-linear-gradient(top, #8c2c9f, #7f2491);
  background-image: -ms-linear-gradient(top, #8c2c9f, #7f2491);
  background-image: -o-linear-gradient(top, #8c2c9f, #7f2491);
  background-image: linear-gradient(to bottom, #8c2c9f, #7f2491);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 0px lightslategrey;
  border: none;
}

.btn4:hover {
  background: #7f2691;
  text-decoration: none;
}

.btn5 {
  width: 175px;
  background: #9090a3;
  background-image: -webkit-linear-gradient(top, #9090a3, #797991);
  background-image: -moz-linear-gradient(top, #9090a3, #797991);
  background-image: -ms-linear-gradient(top, #9090a3, #797991);
  background-image: -o-linear-gradient(top, #9090a3, #797991);
  background-image: linear-gradient(to bottom, #9090a3, #797991);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 0px lightslategrey;
  border: none;
}

.btn5:hover {
  background: #73738c;
  text-decoration: none;
}

.btn6 {
  width: 175px;
  background: #f8bf6a;
  background-image: -webkit-linear-gradient(top, #f8bf6a, #ebb159);
  background-image: -moz-linear-gradient(top, #f8bf6a, #ebb159);
  background-image: -ms-linear-gradient(top, #f8bf6a, #ebb159);
  background-image: -o-linear-gradient(top, #f8bf6a, #ebb159);
  background-image: linear-gradient(to bottom, #f8bf6a, #ebb159);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 0px lightslategrey;
  border: none;
}

.btn6:hover {
  background: #ebb35e;
  text-decoration: none;
}

.btn-massage {
  width: 175px;
  background: #68B7F6;
  background-image: -webkit-linear-gradient(top, #68B7F6, #68B7F6);
  background-image: -moz-linear-gradient(top, #68B7F6, #68B7F6);
  background-image: -ms-linear-gradient(top, #68B7F6, #68B7F6);
  background-image: -o-linear-gradient(top, #68B7F6, #68B7F6);
  background-image: linear-gradient(to bottom, #68B7F6, #68B7F6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 0px lightslategrey;
  border: none;
}

.btn-massage:hover {
  background: #68B7F6;
  text-decoration: none;
}