.star-rating {
  font-size: 0;
  position: relative;
  width: 160px;
  height: 32px;
  overflow: hidden;
  background-image: url(../img/rating.png);
  background-size: contain;
  margin-top: 35px;
  margin-left: 45px;
}

.star-rating__star {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  opacity: 0;
  background-image: url(../img/rating2.png);
  background-size: contain;
}
.star-rating__star ~ .star-rating__star {
  width: 40%;
}
.star-rating__star ~ .star-rating__star ~ .star-rating__star {
  width: 60%;
}
.star-rating__star ~ .star-rating__star ~ .star-rating__star ~ .star-rating__star {
  width: 80%;
}
.star-rating__star ~ .star-rating__star ~ .star-rating__star ~ .star-rating__star ~ .star-rating__star {
  width: 100%;
}

.star-rating__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.star-rating__input:hover + i, .star-rating__input:checked + i {
  opacity: 1;
}

.star-rating:hover .current-rating {
  display: none;
}
.current-rating.current-rating--1 .star-rating__star, .current-rating.current-rating--1-5 .star-rating__star, .current-rating.current-rating--2 .star-rating__star, .current-rating.current-rating--2-5 .star-rating__star, .current-rating.current-rating--3 .star-rating__star, .current-rating.current-rating--3-5 .star-rating__star, .current-rating.current-rating--4 .star-rating__star, .current-rating.current-rating--4-5 .star-rating__star, .current-rating.current-rating--5 .star-rating__star {
  opacity: 1;
}
.current-rating.current-rating--1 .star-rating__star {
  width: 20%;
}
.current-rating.current-rating--1-5 .star-rating__star {
  width: 30%;
}
.current-rating.current-rating--2 .star-rating__star {
  width: 40%;
}
.current-rating.current-rating--2-5 .star-rating__star {
  width: 50%;
}
.current-rating.current-rating--3 .star-rating__star {
  width: 60%;
}
.current-rating.current-rating--3-5 .star-rating__star {
  width: 70%;
}
.current-rating.current-rating--4 .star-rating__star {
  width: 80%;
}
.current-rating.current-rating--4-5 .star-rating__star {
  width: 90%;
}
.current-rating.current-rating--5 .star-rating__star {
  width: 100%;
}
